<footer>
    <div class="contacts">
        <p class="contact">КОНТАКТЫ</p>
        <div style="margin-top: 30px; height: 3px; width: 170px; background-color: #9db800;"></div>
        <div class="contactsInfo">
            <p><a href="https://yandex.ru/maps/-/CCUGE-Al1B">Дачная улица, 20, Самара</a></p>
            <p>Телефон: 8-800-555-35-35</p>
            <p>Почта: <span>PeraDealservice@gmail.com</span></p>
        </div>
    </div>
    <div class="socials">
        <img src="/img/logo.png">
        <div class="socialsIMG">
            <img src="/img/vk.png">
            <img src="/img/insta.png">
            <img src="/img/telega.png">
        </div>
    </div>
</footer>
</body>

</html>