<%- include('partials/header.ejs') %>
<main>
    <div class="admin">
        <div class="admin-selector">

        </div>
        <div class="admin-content">

        </div>
    </div>
</main>
<%- include('partials/footer.ejs') %>