<%- include('partials/header.ejs') %>

    <div class="main-div">
        <div class="main-info">
            <div>
                <p>Пролетарская улица, 177, Самара</p>
                <p>8-800-555-35-35</p>
                <p>PeraDealservice@gmail.com</p>
            </div>
            <div>
                <p>Будние дни: 8 - 16</p>
                <p>Суббота: 9 - 14</p>
                <p>Воскресенье: выходной</p>
            </div>
        </div>
        <div class="map">
            <iframe
                src="https://yandex.ru/map-widget/v1/?um=constructor%3A958c03adc53827603192fc209639aeada014a15ae4bcb00910a47ef7edcd7d76&amp;source=constructor"
                width="1152" height="500" frameborder="0"></iframe>
        </div>
    </div>