<%- include('partials/header.ejs') %>

    <main class="loginMain">
        <form class="loginForm">
            <p class="namming">Войти в аккаунт</p>
            <div class="formInfo">
                <div>
            <p>Email</p>
            <input>
        </div>
        <div>
            <p>Пароль</p>
            <input>
        </div>
            </div>
            <button type="submit"></button>
        </form>
    </main>


    <%- include('partials/footer.ejs') %>