<%- include('partials/header.ejs') %>

    <main class="loginMain">
        <form class="loginForm">
            <p class="namming">Войти в аккаунт</p>
            <div class="formInfo">
                <div>
                    <p>Email</p>
                    <input>
                </div>
                <div>
                    <p>Пароль</p>
                    <input>
                </div>
            </div>
            <button type="submit" >Войти</button>
            <p style="font-family: Raleway; position: absolute; bottom: 20px; font-size: 18px;"> Ещё нет аккаунта? <a href="sign_up" style="color: #9db800;">Создайте его. </a></p>
        </form>
        <div class="alert">
        <p style=" color: red;"></p>
        <p style="color: #9db800;"></p>
    </div>
    </main>


    <%- include('partials/footer.ejs') %>