<%- include('partials/header.ejs') %>
    <div class="mainBlock">
        <div class="itemlist">
            <div class="serviceItem">
                <img src="/img/service1.png" alt="">
            </div>
            <div class="serviceItem">
                <img src="/img/service1.png" alt="">
            </div>
            <div class="serviceItem">
                <img src="/img/service1.png" alt="">
            </div>
            <div class="serviceItem">
                <img src="/img/service1.png" alt="">
            </div>
            <div class="serviceItem">
                <img src="/img/service1.png" alt="">
            </div>
            <div class="serviceItem">
                <img src="/img/service1.png" alt="">
            </div>
            <div class="serviceItem">
                <img src="/img/service1.png" alt="">
            </div>
            <div class="serviceItem">
                <img src="/img/service1.png" alt="">
            </div>
            <div class="serviceItem">
                <img src="/img/service1.png" alt="">
            </div>
            <div class="serviceItem">
                <img src="/img/service1.png" alt="">
            </div>
            
            
        </div>

    </div>
    <%- include('partials/footer.ejs') %>